<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary" id="sign-in" style="width: 130px;">Sign In</a>
            </div>
            <div class="navbar-item">
                <a class="button is-primary" id="sign-up" style="width: 130px;">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification is-size-5 is-light">
                    <p class="title is-size-5 has-text-centered">BUY</p>
                    <div class="is-size-6 box">
                        Your blance:
                    </div>
                    <form method="post" id="form-order-buy">
                        <div class="box">
                            <table class="table is-fullwidth">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="is-size-6">
                                            Amount:
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-primary is-small" id="amount-buy" type="text">
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="is-size-6">
                                            Price:
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input is-primary is-small" id="price-buy" type="text">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="is-size-6">
                                            Total:
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box">
                            <div class="is-size-6">
                                Click to sum your order.
                            </div>
                            <br>
                            <div class="columns">
                                <div class="column">
                                    <a class="button is-rounded" style="width:115px">Caculate</a>
                                </div>
                                <div class="column">
                                    <a class="button is-rounded" id="order-buy" style="width:115px">Buy</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="notification is-size-5 is-light">
                    <p class="title is-size-5 has-text-centered">SELL</p>
                    <div class="is-size-6 box">
                        Your blance:
                    </div>
                    <div class="box">
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="is-size-6">
                                        Amount:
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-primary is-small" type="text">
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="is-size-6">
                                        Price:
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-primary is-small" type="text">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="is-size-6">
                                        Total:
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box">
                        <div class="is-size-6">
                            Click to sum your order.
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column">
                                <a class="button is-rounded" style="width:115px">Caculate</a>
                            </div>
                            <div class="column">
                                <a class="button is-rounded" style="width:115px">Sell</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification is-size-5 is-light">
                    <p class="title is-size-5 has-text-centered">Sell orders</p>
                    <div class="box">
                        <table class="table is-striped is-hoverable is-bordered is-fullwidth is-size-6">
                            <thead>
                            <tr>
                                <th class="has-text-centered">Price</th>
                                <th class="has-text-centered">BTC</th>
                                <th class="has-text-centered">USD</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification is-size-5 is-light">
                    <p class="title is-size-5 has-text-centered">Buy orders</p>
                    <div class="box">
                        <table class="table is-striped is-hoverable is-bordered is-fullwidth is-size-6">
                            <thead>
                            <tr>
                                <th class="has-text-centered">Price</th>
                                <th class="has-text-centered">BTC</th>
                                <th class="has-text-centered">USD</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-sign-up">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title has-text-centered is-primary">
                Sign Up
            </div>
            <button class="delete" id="close-sign-up" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" id="form-sign-up">
                <div id="not-match-pass" class="notification is-danger">
                    <p>Password does not match the confirm password.</p>
                </div>

                <div id="length-pass" class="notification is-danger">
                    <p>Length password is more than 6 characters.</p>
                </div>

                <div style="display: none" id="email-is-already" class="notification is-danger">
                    <p>Email is already in use.</p>
                </div>

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                        <input type="email" class="input" id="email" name="email" required>
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <input type="password" class="input" id="password" name="password" required>
                    </div>
                </div>

                <div class="field">
                    <label for="password2" class="label">Confirm Password</label>
                    <div class="control has-icons-left">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <input type="password" class="input" id="password2" name="password2" required>
                    </div>
                </div>

                <div class="field">
                    <label for="fullname" class="label">Full Name</label>
                    <div class="controlt">
                        <input type="text" class="input" id="fullname" name="fullname" required>
                    </div>
                </div>

                <div class="field">
                    <button type="submit" class="button is-fullwidth is-primary">Sign Up</button>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="modal" id="modal-sign-in">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title has-text-centered is-primary">
                Sign In
            </div>
            <button class="delete" id="close-sign-in" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" id="form-sign-in">
                <div id="email-password-incorrect" class="notification is-danger">
                    <p>Email or password is incorrect.</p>
                </div>
                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                        <input type="email" class="input" id="email-sign-in" name="email" required>
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <input type="password" class="input" id="password-sign-in" name="password" required>
                    </div>
                </div>

                <div class="field">
                    <button type="submit" class="button is-fullwidth is-primary">Sign In</button>
                </div>
            </form>
        </section>
    </div>
</div>


<script src="static/js/app.min.js"></script>
</body>
</html>