<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a class="navbar-burger"><span></span><span></span><span></span></a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home1
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary">Primary1</a>
            </div>
            <div class="navbar-item">
                <a class="button is-primary">Primary2</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/app.min.js"></script>
</body>
</html>